.user-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.user-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 10px 10px rgba(80, 17, 105, 0.1);
  min-width: 300px;
  min-height: 300px;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.user-card:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.user-card-info {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.user-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  align-self: center;
  margin-bottom: 10px;
}

.user-card-info p {
  font-size: 14px;
}

.create-user-button {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-bottom: 10px;
  flex-direction: row-reverse;
  gap: 20px;
}

.create-user-button-button {
  background-color: #7c2974fc;
  cursor: pointer;
  box-shadow: 0 10px 10px rgba(80, 17, 105, 0.1);
  color: #fff;
  padding: 7px 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.create-user-button-button:hover {
  background-color: #7c2974e3;
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}
