.header-social-icons {
  display: flex;
  align-items: center;
  gap: 20px;
  z-index: 10;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2.5rem 3.75rem;
}

.header-social-icons a {
  text-decoration: none;
  color: #6a7282;
  cursor: pointer;
}

.header-social-icons a:hover {
  color: #000;
}

.header-social-icons-blue a:hover {
  color: #007bff !important;
}

.logout-btn {
  background-color: rgb(230, 60, 60);
  color: #fff;
  padding: 5px 10px;
  border-radius: 0.5rem;
  cursor: pointer;
  gap: 0.5rem;
}
.logout-btn-text {
  cursor: pointer;
}

@media (max-width: 768px) {
  .header-social-icons {
    gap: 10px;
    font-size: 12px;
  }
  .main-header {
    margin: 1.5rem 1.5rem;
  }
}
